.imgBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.image-list-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imgs {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-out;
}

.image-title {
  position: absolute;
  width: 100%;
  padding: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.2s ease-out;
}
.image-list-item:hover .image-title {
  transform: translateY(0);
}
.hoverWrapper {
  position: absolute;
  top: 0;
  width: 100%;
}
.hoverDeleteBtn:hover {
  position: absolute;
  left: 0;
  background-color: blueviolet;
}
